.App {
  background-image: url("https://i.imgur.com/o3C0836.jpg");
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

header {
  font-family: "Fredoka One", cursive;
  font-size: 100px;
  color: palevioletred;
}

.review {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  max-width: 500px;
  height: 200px;
  max-height: 200px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  max-width: 300px;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

#textboxid {
  height: 100px;
  font-size: 14pt;
}
