.App {
  /* background-image: url("https://i.imgur.com/o3C0836.jpg"); */
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(195, 255, 0);
}

header {
  margin-bottom: 40px;
}

.review {
  width: 500px;
  max-width: 500px;
  height: 200px;
  max-height: 200px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: #05a167;
  border-radius: 25px;
  font-family: "Russo One", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 300px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 40px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: #05a167;
  border-radius: 25px;
  font-family: "Russo One", sans-serif;
}

Section {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

#textboxid {
  height: 100px;
  font-size: 14pt;
}

@media screen and (max-width: 700px) {
  .review {
    width: 350px;
  }
  header {
    font-size: 75px;
  }
}
@media screen and (max-width: 425px) {
  .review {
    width: 250px;
  }
  header {
    font-size: 50px;
  }
}
